@{
    ViewBag.Title = "About";
}

<br />

<h1>Style transfer art (stArt)</h1><br />

<p>
    This Web-App is the web part of an implementation of style transfer algorithm using convolutional neural networks based on paper "A Neural Algorithm of Artistic Style" by Leon A. Gatys, Alexander S. Ecker and Matthias Bethge.
    The implementation of the neural network code itself is written in Python, uses Tensorflow backend and is available in the link below as an open source project on git.
    This project is done as a practical part of a master thesis for Faculty of Electronic Engineering.
</p>

<br />

<a href="https://github.com/Nezio/neural-networks-style-transfer/" target="_blank">Style transfer - source code</a><br />
<a href="https://github.com/Nezio/neural-networks-style-transfer-web-app/" target="_blank">Style transfer - Web App - source code</a>

<br /><br />

<p>
    Created by: Nemanja Živković
</p>