@model StyleTransferWebApp.Models.StyleTransferViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="dropzone" class="flex-container">
    <form action=@Url.Action("UploadContentImage", "Home") class="dropzone flex-child" id="dropzoneContent" enctype="multipart/form-data"></form>
    <form action=@Url.Action("UploadStyleImage", "Home") class="dropzone flex-child" id="dropzoneStyle" enctype="multipart/form-data"></form>
</div>

<div class="col text-center">
    <input type="button" value="Start style transfer" class="btn btn-primary" onclick="location.href='@Url.Action("StartStyleTransfer", "Home")'" />
</div>

<img src="~/Content/horse.png" alt="Input horse" width="500">
<img src="@Model.styleTransferUserResults.First().contentImage" alt="Input horse" width="500">


@section Scripts{
    <script>
        var responseMessage = '@Model.responseMessage';
    </script>

    <script src="@Url.Content("~/Scripts/Home/index.js")"></script>
}