@model StyleTransferWebApp.Models.Home

@{
    ViewBag.Title = "Home Page";
}

<div id="dropzone">
    <form action=@Url.Action("UploadContentImage", "Home") class="dropzone" id="dropzoneContent" enctype="multipart/form-data"></form>
    <form action=@Url.Action("UploadStyleImage", "Home") class="dropzone" id="dropzoneStyle" enctype="multipart/form-data"></form>
</div>

<div>
    <input type="button" value="Start style transfer" class="btn btn-primary" onclick="location.href='@Url.Action("StartStyleTransfer", "Home")'" />
</div>

@section Scripts{
    <script>
        var responseMessage = '@Model.responseMessage';
    </script>

    <script src="@Url.Content("~/Scripts/Home/index.js")"></script>
}