@{
    ViewBag.Title = "Home Page";
}

<div id="dropzone">
    <form action=@Url.Action("UploadContentImage", "Home") class="dropzone" id="dropzoneContent" enctype="multipart/form-data"></form>
    <form action=@Url.Action("UploadStyleImage", "Home") class="dropzone" id="dropzoneStyle" enctype="multipart/form-data"></form>
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/Home/dropzone-settings.js")"></script>
}